{{> menu}}
  
<link href="css/select2.min.css" rel="stylesheet" />
<script src="js/select2.min.js"></script>


<div class="search-page search-grid-full">
    <div class="booking">
        <div class="container">
            <div class="reservation-form">
                <div class="col-md-9 reservation-right">
                    <form action="/uploadScripts1" method="post" enctype="multipart/form-data">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="upload_file" name ="upload_file" accept=".png, .jpg, .jpeg" />
                                <label for="upload_file"></label>
                                <input type="submit" name='submit_image' value="Upload Image" id="submit_image"/>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="">
                                    <img id='imgsrc' class='imgsrc' src='{{image_url}}' width='192px' height='192px'></img>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="POST" action="/roomUpdateDetails" name="custInfo" class="edit">
                        <h4>Description</h4>         			
                        <input type="text" name="desc" value="{{room_desc}}" placeholder="Description" required>
                        <h4>Price($)</h4>         			
                        <input type="number" name="price" value="{{price}}" placeholder="Price" required>
                        <h4>Room Type</h4>      
                        <input type="text" name="roomType" value="{{room_type}}" placeholder="Room Type" required>
                        <h4>Max occupancy</h4>         			
                        <input type="number" name="max_occupancy" value="{{max_occupancy}}" placeholder="Max Occupancy" required>
                       <br/><br/>
                        <input type="submit" name="submitted" class="btn1 btn-1 btn-1e" value="UPDATE NOW">
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        $('#roomType').val('<?php echo $rooms[0]["room_type"]?>');
        $('#features').select2();
    });
    document.getElementById("upload_file").onchange = function() {
        document.getElementById("submit_image").click();
    };
</script>
