{{{aler}}}
{{> menu}}

    {{!-- if(!isset($_SESSION["sess_userid"])){
        echo '<script type="text/javascript">location.href = "index.php";</script>';
        echo '<script type="text/javascript">alert("please login");</script>';	
    }
?> --}}
{{!-- <?php --}}
    {{!-- $db = new PDO("mysql:dbname=".DBNAME.";host=".DBHOST, DBUSER, DBPASS);  
    $query = $db->prepare("SELECT * FROM hotel");
    $query->execute();
    $rows=$query->fetchAll();
    if(isset($_GET["deleteId"])){
        deleteRoom($_GET["deleteId"]);
    }
    function deleteRoom($id){
        $db = new PDO("mysql:dbname=".DBNAME.";host=".DBHOST, DBUSER, DBPASS);  
        $db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION); 
        $updateQuery =  $db->prepare("UPDATE room SET status=0 WHERE room_id=$id");  
        $result = $updateQuery->execute();
    }
?> --}}

<div class="search-page search-grid-full">
    <div class="container">
        <div class="tab-content">
            <form action="">
                <div class="droop-down">
                    <div class="droop">
                        <div class="sort-by">
                            <select class="sel" name="city">
                                
                                    <option value="">CHOOSE CITY</option>  
                                    {{#each output}}
                                    <option value="{{hotel_id}}"> {{city}}</option>  
                                    {{/each}}
                            </select>
                            <input type="hidden" name="page" value="1"/>
                        </div>
                    </div>
                    <div class="search">
                            <input type="submit" name="search" value="search">
                    </div>
                </div>
            </form>	
        </div>
    </div>
    <div class="search-page search-grid-full">
    <div class="container">
        <div class="tab-content">
                        {{#each result}}
                            <div class="hotel-rooms">
                                <div class="hotel-left">
                                    <a href="/roomUpdate?city={{hotel_id}}&roomId={{room_id}}"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span>{{room_type}}</a>
                                    <p>{{room_desc}}</p>
                                    <div class="hotel-left-grids">
                                        <div class="hotel-left-one">
                                        <a href="/single"><img src="{{image_url}}" width="130px" height="230px"></a>
                                        </div>
                                        <div class="hotel-left-two">
                                            <div class="rating text-left">
                                                <span><img alt="Customer Rating" src ="images/st<?php echo $rooms[$i]['customer_rating']; ?>.png"</span>
                                            </div>
                                            <p>
                                                <i>Features:</i>
                                               {{#each feature_name}}
                                                     <span>{{this}}</span>
                                                {{/each}}
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="hotel-right text-right">
                                    <h4>{{price}}</h4>
                                    <p>Best price</p>
                                    <a class="update" href="/roomUpdate?city={{hotel_id}}&roomId={{room_id}}">Update</a>
                                    <a class="delete" href="/roomDelete?city={{hotel_id}}&search=search&deleteId={{room_id}}">Delete</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {{/each}}
                            <a href="/addRoom?hotelId={{id}}">Add Room</a>
                            
                            <nav>
                                <ul class="pagination pagination-lg">
                              
                                {{!-- <?php
                                $currentPage = $_GET["page"];
                                $city = $_GET["city"];
                                $start = $currentPage*5 - 5;
                                $end = $currentPage*5;
                                $query = $db->prepare("SELECT * FROM room where hotel_id = $city and status=1");
                                $query->execute();
                                $rows=$query->fetchAll();
                                $noOfPages = ceil(count($rows)/5);
                                $i = 0;
                                ?> --}}
                                <li><a href="/roomInfo?search=search&city={{hotelId}}&page={{previous}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                               
                               
                               {{#times noOfPages}}
                                    <li><a href="/roomInfo?city={{hotelId}}&search=search&page={{this}}">{{id}}</a></li>
                                    {{/times}}
                                <li><a href="/roomInfo?city={{hotelId}}&search=search&page={{next}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                            {{!-- <?php
                    }catch(PDOException $ex){
                        echo $ex->getMessage(); 
                    }
                }
                function console_log( $data ){
                    echo '<script>';
                    echo 'console.log('.  $data .')';
                    echo '</script>';
                  }
            ?> --}}
        </div>
    </div>
    </div>